@import url(https://fonts.googleapis.com/css?family=Poiret+One);
@import url(https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.min.css);

body {
  color: #333333;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.widget-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #080705;
}

.widget {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  height: auto;
  max-width: 600px;
  background-color: #fafafa;
  border-radius: 20px;
  box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3), 0 17px 17px 0 rgba(0, 0, 0, 0.15);
}

.weatherLocation{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1.5rem;
  background-color: #fafafa;
}

.weatherLocation button{
  background: #080705;
  color:#fff;
  border: 1px solid transparent;
}
.weatherLocation input:focus{
  outline: 0 none;
  font-size: 20px;
}

.widget .weatherIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 150px;
  background: #FAFAFA;
  font-family: weathericons;
  font-size: 100px;
}

.widget .weatherIcon i {
  padding-top: 30px;
}

.widget .weatherInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: #080705;
  border-radius: 0 0 20px 20px;
  color: white;
  padding: 1.5rem 0;
}

.widget .weatherInfo .temperature {
  font-size: 4rem;
}

.widget .weatherInfo .description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 1rem;
}

.widget .weatherInfo .description .weatherCondition {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 100;
}

.widget .weatherInfo .description .place {
  font-size: 1rem;
}

.widget .date {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60px;
  background: rgb(68, 112, 207);
  border-radius: 20px 20px 0 0;
  color: white;
  font-size: 2rem;
  font-weight: 800;
}

p {
  position: fixed;
  bottom: 0%;
  right: 2%;
}

p a {
  text-decoration: none;
  color: #E4D6A7;
  font-size: 10px;
}
